.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #000000;
  padding: 2em;
  background-color: inherit;
}

.link {
  text-decoration: none;
  color: #000000;
}

.active {
  background-color: #c7c7c7;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.date {
  font-size: 1.4em;
}
