.container {
  margin: 5em 2em;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.title {
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.body {
  display: flex;
  flex: 1;
  box-sizing: border-box;
}
